<div class="row match"
    [routerLink] ="['/'+ routerLinkValue,data.id]">
    <div class="col-xs-3" >
        <img [src]="data.host.path"
             [alt]="data.host.name"
             class="img-responsive">
    </div>
    <div class="col-xs-6">
        <p class="text-center mtopbot">
            <span>Date : {{data.date | date}}</span>  
            <span>Nombre de place : {{data.nbrePlaces}}</span>
            <span *ngIf="isBackOffice">Nombre de reservation : {{data.nbreResa}}</span>
        </p>
    </div>
    <div class="col-xs-3">
        <img [src]="data.guest.path"
             [alt]="data.guest.name"
             class="img-responsive">
    </div>
</div>