<div class="container">
  <h1 class="text-center">{{formTitle}}</h1>
  <br>
  <form class="form-horizontal col-sm-10 col-sm-offset-1" action="">
    <div class="col-sm-12">
      <mat-form-field class="full-width">
        <input [(ngModel)]="eventModel.guest.name" type="text" matInput placeholder="Entrez le nom de l'équipe " id="guest" name="guest">
      </mat-form-field>
    </div>
    <div class="col-sm-12">
      <mat-form-field class="full-width">
        <input matInput [matDatepicker]="picker" placeholder="Choisir une date" id="date" name="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-sm-12">
      <md-input-container class="md-block full-width">
        <mat-form-field class="col-sm-11 nopadd">
          <input class="col-sm-11" [(ngModel)]="eventModel.guest.path" type="text" matInput placeholder="Entrez le chemin " id="guest-path"
            name="guest-path">
        </mat-form-field>
        <label class="mdl-button mdl-js-button mdl-button--icon mdl-button--file col-sm-1 nopadd">
          <i class="material-icons">attach_file</i>
          <input type="file" id="file">
        </label>
      </md-input-container>
    </div>
    <div class="col-sm-12">
      <button mat-raised-button color="primary" data-toggle="modal" data-target="#myModal">
        <b>Nbre Réservation :{{eventModel.nbreResa}}</b>
      </button>
    </div>

    <div class="col-sm-12">
      <br>
      <br>
      <button mat-raised-button color="accent">Enregistrer</button>
    </div>
  </form>
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Réservation(s)</h4>
        </div>
        <div class="modal-body">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a href="#resa-1" aria-controls="resa-id" role="tab" data-toggle="tab">Réservation 1</a>
            </li>
            <li role="presentation">
              <a href="#resa-2" aria-controls="resa-2" role="tab" data-toggle="tab">Réservation 2</a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="resa-1">
              <form name="registerForm" class="form-horizontal" id="resa-1"><br>
                <div class="form-group text-left">
                  <div class="col-sm-12">
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Entrez le nom de votre entreprise" id="entreprise" name="entreprise">
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group text-left">
                  <div class="col-sm-12">
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Entrez votre nom complet " id="full_name" name="full_name">
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group text-left">
                  <div class="col-sm-12">
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Entrez votre Email " id="email" name="email">
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group text-left">
                  <div class="col-sm-12">
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Entrez votre numéro de téléphone" id="phone" name="phone">
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group text-left">
                  <div class="col-sm-12">
                    <mat-form-field>
                      <mat-select [(ngModel)]="selectedValue" name="commercial" placeholder="Le nom du commercial">
                        <mat-option *ngFor="let c of commercial" [value]="c.id">
                          {{c.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group text-left">
                  <div class="col-sm-12">
                    <mat-form-field class="full-width">
                      <textarea rows="4" matInput placeholder="Commentaire"></textarea>
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group text-center">
                  <button type="submit" class="btn btn-success">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Valider</button>
                  <button type="submit" class="btn btn-danger">
                    <i class="fa fa-trash-o" aria-hidden="true"></i> Supprimer</button>
                </div>
              </form>
            </div>
            <div role="tabpanel" class="tab-pane" id="resa-2">
              <form name="registerForm" class="form-horizontal" id="resa-2"><br>
                <div class="form-group text-left">
                  <div class="col-sm-12">
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Entrez le nom de votre entreprise" id="entreprise" name="entreprise">
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group text-left">
                  <div class="col-sm-12">
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Entrez votre nom complet " id="full_name" name="full_name">
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group text-left">
                  <div class="col-sm-12">
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Entrez votre Email " id="email" name="email">
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group text-left">
                  <div class="col-sm-12">
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Entrez votre numéro de téléphone" id="phone" name="phone">
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group text-left">
                  <div class="col-sm-12">
                    <mat-form-field>
                      <mat-select [(ngModel)]="selectedValue" name="commercial" placeholder="Le nom du commercial">
                        <mat-option *ngFor="let c of commercial" [value]="c.id">
                          {{c.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group text-left">
                  <div class="col-sm-12">
                    <mat-form-field class="full-width">
                      <textarea rows="4" matInput placeholder="Commentaire"></textarea>
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group text-center">
                  <button type="submit" class="btn btn-success">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Valider</button>
                  <button type="submit" class="btn btn-danger">
                    <i class="fa fa-trash-o" aria-hidden="true"></i> Supprimer</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
